= form_with(model: preimage, local: true) do |f|
  - if preimage.errors.any?
    #error_explanation
      %h2
        = pluralize(preimage.errors.count, "error")
        prohibited this preimage from being saved:
      %ul
        - preimage.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :image
    = f.file_field :image, id: 'post_img'
    %br
    = image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", id: 'img_prev'
    %br
    = f.submit 'Send'
