= form_with(model: preimage, local: true) do |form|
  - if preimage.errors.any?
    #error_explanation
      %h2
        = pluralize(preimage.errors.count, "error")
        prohibited this preimage from being saved:
      %ul
        - preimage.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :content
    = form.text_area :content
  .field
    = form.label :image
    = form.text_area :image
  .actions
    = form.submit

.form
  = form_for [@preimage] do |f|
    .input-box
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a post'
      = f.label :image, class: 'input-box__image' do
        = f.file_field :image, class: 'input-box__image__file',id: 'post_img'
        - if @preimage.image.present?
          = image_tag @preimage.image, id: :img_prev
        - else
          = image_tag "https://demo.a-blogcms.jp/media/001/201902/1c35033abff55e4664a216314d599201.png", id: :img_prev

    = f.submit 'Send', class: 'submit-btn'
