%p#notice= notice
%p
  %strong Content:
  = @preimage.content
%p
  %strong Image:
  = image_tag(@preimage.image.url)
= link_to 'Edit', edit_preimage_path(@preimage)
|
= link_to 'Back', preimages_path
